{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "curly": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-underscore-dangle": 0
  }
}
